.img_avatar {
    border-radius: 50%;
    width: 50px;

}

.sidebar {
    
    width: 300px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
}


.icon-profile {}

.list-message {

    flex-grow: 1;
}